.tweet
{
display: block;
background: #333;
clear: both;
padding: .6em;
margin: .3em;
overflow: hidden;
}
.tweet img
{
float: left;
margin-right: 1em;
border: 2px solid #222;
background: #444;
}
.tweet p.text
{
margin: 0;
padding: 0;
padding-left: 70px;
}
.monitter 
{
float: left;
width: 280px;
height: 180px;
margin: 5px;
border: 4px solid #666;
background: #666; 
overflow:hidden;
}
.picasatter 
{
float: left;
width: 640px;
height: 480px;
margin: 5px;
border: 4px solid #666;
background: #666; 
overflow:hidden;
}

.render: 
{
float: left;
width: 280px;
height: 180px;
margin: 5px;
border: 4px solid #666;
background: #666; 
overflow:hidden;
}
