*{
  padding:0;
  margin:0;
}
body{
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background-color:#000;
}
.main{
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background-color:#000;
  float:left;
}
h1{
  font-size:17px;
  color:#fff;
}
h2{
  font-size:15px;
  color:#999;
  padding:0 0 7px 0;
}
div.side{
	margin-left: 30px;
	padding-top: 40px;
	padding-left: 35px;
	padding-right: 35px;
	width: 210px;
	height: 480px;
//	background-color:#060;
	background:url(../images/nega.png) repeat-y left top;
	float: left;
	overflow:hidden;
}
.waku img{
  //border:1px solid #000;
  padding: 20px 5px; //top&bottom,left&right
  //margin:0 10px 0 0; 
  //background:#222;
}